{% extends 'functions/base.html' %}

{% block content %}

<h1>A project based on Django. A diary app where people can write their important events, activities and secrets also. The content is hidden from admin </h1>
<h2>Photo Credits</h2>
<span>Photo by <a href="https://unsplash.com/@fotografierende?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">fotografierende</a> on <a href="https://unsplash.com/s/photos/diary?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

<h2>Library credits</h2>
<a href="https://yabwe.github.io/medium-editor/demo.html"><h3>Medium.com editor</h3></a>

{% endblock %}