{% extends 'functions/base.html' %}

{% block content %}


<!-- update and delete view -->

<p id="lastaccessed" class="text-info"><strong>Last accessed</strong> {{ diarys.dateaccessed }}</p>

<form method="POST" class="new_diary">
	{% csrf_token %}
	{{ form.as_p }}
  <div class="button_action"><button  type="submit" class="btn btn-success">Save</button></div>
</form>


<form method="POST" action="{% url 'delete_diary' diarys.id %}" class="new_diary">
	{% csrf_token %}
  <div class="button_action"><button id="delete" class="btn btn-danger" type="submit">Delete</button></div>
</form>


<script>var editor = new MediumEditor('.editable');</script>



{% endblock %}