
#title
{
	font-weight: 50px;
	color: red;
}
.register
{
	
}
#signin_form
{

}
#tag
{
	font-weight: lighter;
}
h1
{
	color: black;
}

#footer
{
	float: right;
	margin-right: 50px;
}
footer a {
  color: red;
}
footer a:active
{
	color: grey;
}

#diary
{
	width: 100%;
	height: 100%;
}
#lastaccessed
{
	float: right;
	margin-right: 20px;
}
#welcome
{
	margin: 0 auto;
	width: 400px;
	border-radius: 5px;
	text-align: center;

}
#user_wel
{
	widows: 400px;
}

.new_button
{
	text-align: center;
	margin-top: 10px;
}
.new_button a
{
	color: green;
}
#diary_button
{
	font-family: 'Sansita Swashed', cursive;
	font-size: 1.5em;
	color: #E9ECEF
}
#diary_button a
{
	color: green;

}
hr
{
	width: 400px;
}
#delete
{
	
	margin-top: 10px;
}

.button_action
{
	text-align: center;
}
#content_text
{
	width:100%;
	height: 100%;
}
#title
{

}
.save_diary
{
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5em;

}
#main
{
	font-family: 'Sansita Swashed', cursive;
	color: #E9ECEF;
}
.titled
{
	font-family: 'Sansita Swashed', cursive;
	margin-left: 30px;

}
.about
{
	text-align: center;
}
.footer
{
	text-align: center;
}
#li
{
	width: 40px;
	height: 30px;
}
.new_diary
{
	margin-left: 30px;
	font-family: 'Sansita Swashed', cursive;
}
.display-4
{
	font-family: 'Sansita Swashed', cursive;	
}